{% extends "base.html" %}
{% load static %}

{% block title %}Detailed{% endblock %}
{% block style %}{% static 'css/detailed.css' %}{% endblock %}
{% block menu %}
    <li class="list">
        <div class="return">
            <a href="{% url 'projects' %}">На главную</a>
        </div>
        <div class="return">
            {% if perms.main_app.create_tasks %}
                <a href="{% url 'new_task' project.pk %}">+ задача</a>
            {% endif %}
        </div>
    </li>
{% endblock %}
{% block content %}
        <div class="project_box">
            {% csrf_token %}  
            <div class="box">
                <h1>{{project.title}}</h1>
            </div>
            <div class="box">
                <p>{{project.description}}</p>
            </div>
            <div class="box">
                <span>Дата начала: {{project.date_create}}</span>
            </div>
            <div class="box">
                <span>Дата окончания: {{project.date_finish}}</span>
            </div>
            <div class="'box">
                <h4>Задействованы в проекте:</h4>
                <li class="list">
                {% for usr in project.users.all %}
                    <div class="return">{{usr.username}}</div>
                {% endfor %}
                </li>
            </div>
            
        </div> 
        
            {% for task in project.project.all %}
            <div class="task_box">
                
                {% csrf_token %}
                <div class="box">
                    <h3>Статус: {{task.task_status}} | Тип: {% for type in task.task_types.all %}{{ type.type }}{% if not forloop.last %}, {% endif %}{% endfor %}</h2>
                </div>    
                <div class="box">
                    <h1>{{task.summery}}</h1>
                </div>
                <div class="box">
                    <p>{{task.description}}</p>
                </div>
                <div class="box">
                    <span>Создано: {{task.date_create}}</span>
                </div>
                <div class="box">
                    <span>Обновлено: {{task.date_update}}</span>
                </div>
                <div class="box">
                    {% if perms.main_app.delete_tasks and request.user in project.user_list.all %}
                        <a href="{% url 'delete_task' project.pk task.pk %}" class="btn btn-danger">Удалить</a>
                    {% endif %}
                    {% if perms.main_app.change_tasks and request.user in project.user_list.all %}
                        <a href="{% url 'update_task' project.pk task.pk %}" class="btn btn-primary">Редактировать</a>
                    {% endif %}
                </div>
                
            </div>
            {% endfor %} 
        
{% endblock %}

