{% extends "base.html" %}
{% load static %}

{% block title %}Detailed{% endblock %}
{% block style %}{% static 'css/detailed.css' %}{% endblock %}
{% block menu %}
    <li class="list">
        <div class="return">
            <a href="{% url 'tasks' %}">На главную</a>
        </div>
    </li>
{% endblock %}
{% block content %}
        <div class="task_box">
            {% csrf_token %}
            <div class="box">
                <h3>Статус: {{task.task_status}} | Тип: {% for type in task.task_types.all %}{{ type.type }}{% if not forloop.last %}, {% endif %}{% endfor %}</h2>
            </div>    
            <div class="box">
                <h1>{{task.summery}}</h1>
            </div>
            <div class="box">
                <p>{{task.description}}</p>
            </div>
            <div class="box">
                <span>Создано: {{task.date_create}}</span>
            </div>
            <div class="box">
                <span>Обновлено: {{task.date_update}}</span>
            </div>
            <div class="box">
                <a href="{% url 'delete_task' task.pk %}" class="btn btn-danger">Удалить</a>
                <a href="{% url 'update_task' task.pk %}" class="btn btn-primary">Редактировать</a>
            </div>
        </div> 
{% endblock %}

