html {
    height: 100%;
}

body {
    margin: 0;
    height: 50%;
}

.container {
    border-radius: 30px;
    backdrop-filter: blur(10px);
    width: 50%;
    margin: 50px auto;
    justify-items: center;
    padding: 20px;
    
    background: linear-gradient(137deg, rgba(193,134,221,1) 0%, rgba(161,161,245,1) 46%, rgba(0,212,255,1) 100%);
}
h1 {
    text-align: center;
}
.task_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    margin: 50px auto;
}

.project_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
    background-color: white;
    border-radius: 20px;
}
.box {
    margin: 10px;
    text-align: center;
}
.return {
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: aliceblue;
}
.return a {
    text-decoration: none;
}
p {
    font-size: 15px;
}
.list {
    list-style-type: none; 
}